.content {
    width: 100%;
    margin-left: 10px;
    padding-top: 20px;
    background-color: #fff;
}

.message-table {
    width: 100%;
    margin-left: 50px;
    text-align: center;
}

.table-title {
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    color: rgb(112, 112, 112);
}

.item-message {
    text-align: left;
    padding-top: 20px;
    font-weight: 400;
}