.incoming-body {
    display: flex;
    width: 100%;
}

.column {
    width: 100%;
}

.table-title {
    font-size: 13px;
    height: 30px;
    color: rgb(145, 145, 145);
}

.message-body {
    display: flex;
    align-items: center;
    height: 40px;
}
.separator-msg{
    height: 1px;
    border: none;
    background-color: rgb(116, 116, 116);
}