.bttns {
    display: flex;
}

.action-bttn {
    min-width: 150px;
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 1rem 1.5rem;
    text-decoration: none;
    border-radius: 5px;
    text-transform: uppercase;
    margin-right: 5px;
}

.right {
    margin-left: auto;
}

.action-bttn:hover {
    opacity: .8;
}

.approve {
    background-color: rgb(15, 83, 15);
}

.reject {
    background-color: rgb(179, 14, 14);
}

.delegate {
    background-color: #8C959D;
}

.right-btn{
    background-color: #32c9ae;
}

.content-message {
    display: flex;
    margin-top: 15px;
}


.doc-view {
    display: none;
    text-align: center;
}

.comment-container {
    width: 550px;
    margin-left: 20px;
}

.comment {
    margin-top: 10px;
    padding: 5px;
}

.block-title {
    display: flex;
    font-size: 15px;
    color: #696969;
}

.date {
    margin-left: auto;
}
.head-title {
    text-align: center;
}

.comm-body {
    margin-top: 10px;
}

.document {
    margin-top: 10px;
}