.bttns {
    display: flex;
}

.action-bttn {
    min-width: 150px;
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 1rem 1.5rem;
    text-decoration: none;
    border-radius: 5px;
    text-transform: uppercase;
    margin-right: 5px;
}

.right {
    margin-left: auto;
}

.action-bttn:hover {
    opacity: .8;
}

.approve {
    background-color: rgb(15, 83, 15);
}

.reject {
    background-color: rgb(179, 14, 14);
}

.delegate {
    background-color: #8C959D;
}

.right-btn{
    background-color: #32c9ae;
}

.content-message {
    display: flex;
    margin-top: 15px;
}


.doc-view {
    display: none;
    text-align: center;
}

.comment-container {
    width: 550px;
    margin-left: 20px;
}

.comment {
    margin-top: 10px;
    padding: 5px;
}

.block-title {
    display: flex;
    font-size: 15px;
    color: #696969;
}

.date {
    margin-left: auto;
}
.head-title {
    text-align: center;
}

.comm-body {
    margin-top: 10px;
}

.document {
    margin-top: 10px;
}

.filter-bttn {
    min-width: 120px;
    display: inline-block;
    background-color: #32c9ae;
    color: #fff;
    text-align: center;
    padding: 1rem 1.5rem;
    text-decoration: none;
    border-radius: 5px;
    text-transform: uppercase;
}

.filter-body {
    display: none;
    width: 400px;
    margin-left: 10px;
    border: 1px solid #000;
    padding: 10px;
    margin-top: 10px;
}

.incoming-body {
    margin-top: 10px;
}

.filter-item {
    display: flex;
    align-items: center;
}

.filter-list {
    width: 250px;
    height: 35px;
    margin-left: auto;
    border: 2px solid #969696;
}

.filter-list:focus {
    outline: 0px;
}

.filter-submit {
    margin-top: 25px;
    width: 250px;
    height: 35px;
    cursor: pointer;
    border: none;
    background-color: #8C959D;
}

.filter-submit:hover {
    background: #9ea8b0;
}

.list {
    margin-top: 10px;
}

.reset-bttn {
    min-width: 120px;
    background-color: #da5252;
    color: #fff;
    text-align: center;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.circle-status {
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border-radius: 100%;
}