<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}
        <title>Главная страница</title>
    {% endblock %}
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/main_page.css">
    <link rel="icon" type="image/x-icon" href="../static/image/icons/favicon.svg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700&family=Poppins:wght@100;300;500;700&display=swap" rel="stylesheet">
    {% block link %}
    {% endblock %}
</head>
<body>
    <header class="header" id="header">
        <div class="nav-container">
            <div class="nav">
                <div class="nav-content">
                    <a href="/" class="logo-link"><img src="../static/image/logo.svg" class="logo"></a>
                    <ul class="menu">
                        {% if user.id %}
                        <li class="profile" id="profile">
                            <div class="dropdown">
                                <button class="dropbtn"> Меню
                                    <i class="down"></i>
                                </button>
                                <div class="dropdown-content">
                                    {% if user.type_user == 1 %}
                                    <a href="/admin">Админ панель</a>
                                    <a href="/watermark">Выпустить подпись</a>
                                    <a href="/login/registration">Добавить пользователя</a>
                                    {% endif %}
                                    <a href="/logout">Выйти</a>
                                </div>
                            </div>
                        </li>
                        {% else %}
                        <li class="profile" id="profile">
                            <a href="/login">Войти</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        {% block sidenav %}
        <div id="side-navigation" class="side-navigation">
            <div>
                <img src="../static/image/icons/burger.svg" class="burger" id="burger"> 
            </div>
            <div class="hide-side"  id="hide-side">
                <div id="sidenav" class="sidenav">
                    <div class="create-bttn">
                        <a href="/add-document" class="create-project">Создать документ</a>
                    </div>
                    <div class="side-menu">
                            <hr class="separator">
                            <a href="#"><div class="side-menu-item">
                                <div class="side-menu-link">
                                    <p>Мои документы</p>
                                </div>
                            </div></a>
                            <hr class="separator">
                            <a href="/incoming"><div class="side-menu-item">
                                <div class="side-menu-link">
                                <p>Входящие</p>
                                </div>
                            </div></a>
                            <hr class="separator">
                            <a href="/outgoing"><div class="side-menu-item">
                                <div class="side-menu-link">
                                    <p>Исходящие</p>
                                </div>
                            </div></a>
                            <hr class="separator">
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
        {% block content %}
            <div class="content">
                Электронный документооброт кафедры
            </div>
        {% endblock %}
    </div>
<script type="text/javascript" src="../static/js/sideNav.js"></script>
</body>
</html>