{% extends 'base.html' %}

{% block link %}
<link rel="stylesheet" href="../static/css/login.css">
{% endblock %}

{% block sidenav %}
{% endblock %}

{% block content %}
<div class="content">
    <div class="flex-login">
    <div class="login-content">
    <p class="auth">Восстановить пароль</p>
    {% with messages = get_flashed_messages() %}
            {% if messages %}
                    {% for message in messages %}
                        <div class="flash"><p class="flash-title">{{ message }}</p></div>
                    {% endfor %}
            {% endif %}
        {% endwith %}
    <form class="form-login" method="post">
        <div class="box-login-input">
            <input type="email" placeholder="E-mail" class="login-input" name="email">
        </div>
        <input type="submit" value="Подтвердить" class="submit">
    </form>
    </div>
    </div>
</div>
{% endblock %}