{% extends 'base.html' %}

{% block title %}
<title>Входящие</title>
{% endblock %}

{% block content %}
<div class="content">
    <div class="incoming-body">
        <div class="column">
            <p class="table-title">Отправитель</p>
            <hr class="separator-msg">
            <div class="item">
                {% for i, j in sender %}
                    <a href="/incoming/message?name={{j.id}}">
                        <div class="message-body">
                            <p class="item-message" {% if j.status == "Отправлен на проверку" %} style="font-weight: 600;" {% endif %}>{{ i }}</p>
                        </div>
                    </a>
                    <hr class="separator-msg">
                {% endfor %}
            </div>
        </div>
        <div class="column">
            <p class="table-title">Документы</p>
            <hr class="separator-msg">
            <div class="item">
                {% for i in msg %}
                    <a href="/incoming/message?name={{i.id}}">
                        <div class="message-body">
                            <p class="item-message" {% if i.status == "Отправлен на проверку" %} style="font-weight: 600;" {% endif %}>{{ i.file_name }}</p>
                        </div>
                    </a>
                    <hr class="separator-msg">
                {% endfor %}
            </div>
        </div>
        <div class="column">
            <p class="table-title">Статус</p>
            <hr class="separator-msg">
            <div class="item">
                {% for i in msg %}
                    <a href="/incoming/message?name={{i.id}}">
                        <div class="message-body">
                            <p class="item-message" {% if i.status == "Отправлен на проверку" %} style="font-weight: 600;" {% endif %}>{{ i.status }}</p>
                        </div>
                    </a>
                    <hr class="separator-msg">
                {% endfor %}
            </div>
        </div>
        <div class="column">
            <p class="table-title">Дата</p>
            <hr class="separator-msg">
            <div class="item">
                {% for i in msg %}
                    <a href="/incoming/message?name={{i.id}}">
                        <div class="message-body">
                            <p class="item-message" {% if i.status == "Отправлен на проверку" %} style="font-weight: 600;" {% endif %}>{{ i.date }}</p>
                        </div>
                    </a>
                    <hr class="separator-msg">
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}