{% extends 'base.html' %}

{% block title %}
<title>Входящие</title>
{% endblock %}

{% block link %}
<link rel="stylesheet" href="../static/css/message.css">
{% endblock %}

{% block content %}
<div class="content">
    <div class="sort-block">
        <a href="#" class="filter-bttn" id="filter-bttn">Фильтры</a>
        <div class="filter-body" id="filter-body">
            <form method="post">
                <div class="filter-item">
                    <p>Статус: </p>
                    <select name="status" class="filter-list">
                        <option value="">--Выберите пункт--</option>
                        {% for item in status %}
                            <option value="{{item.id}}">{{ item.title }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="filter-item list">
                    <p>Тип: </p>
                    <select name="doc-type" class="filter-list">
                        <option value="">--Выберите пункт--</option>
                        {% for item in docType %}
                            <option value="{{item.id}}">{{ item.title }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="filter-item list">
                    <p>Дата (от): </p>
                    <input type="date" class="filter-list" name="date-from">
                </div>
                <div class="filter-item list">
                    <p>Дата (до): </p>
                    <input type="date" class="filter-list" name="date-before">
                </div>
                <input type="submit" class="filter-submit" value="Применить">
                <a href="/incoming" class="reset-bttn">Сбросить</a>
            </form>
        </div>
    </div>
    <div class="incoming-body">
        <div class="column">
            <p class="table-title">Отправитель</p>
            <hr class="separator-msg">
            <div class="item">
                {% for i, j in sender %}
                    <a href="/incoming/message?name={{j.id}}">
                        <div class="message-body">
                            <p class="item-message" {% if j.status.id == 1 or j.status.id == 4 %} style="font-weight: 600;" {% endif %}>{{ i }}</p>
                        </div>
                    </a>
                    <hr class="separator-msg">
                {% endfor %}
            </div>
        </div>
        <div class="column">
            <p class="table-title">Документы</p>
            <hr class="separator-msg">
            <div class="item">
                {% for i in msg %}
                    <a href="/incoming/message?name={{i.id}}">
                        <div class="message-body">
                            <p class="item-message" {% if i.status.id == 1 or i.status.id == 4 %} style="font-weight: 600;" {% endif %}>{{ i.file_name }}</p>
                        </div>
                    </a>
                    <hr class="separator-msg">
                {% endfor %}
            </div>
        </div>
        <div class="column">
            <p class="table-title">Тип</p>
            <hr class="separator-msg">
            <div class="item">
                {% for i in msg %}
                    <a href="/incoming/message?name={{i.id}}">
                        <div class="message-body">
                            <p class="item-message" {% if i.status.id == 1 or i.status.id == 4 %} style="font-weight: 600;" {% endif %}>{{ i.doc_type.title }}</p>
                        </div>
                    </a>
                    <hr class="separator-msg">
                {% endfor %}
            </div>
        </div>
        <div class="column">
            <p class="table-title">Статус</p>
            <hr class="separator-msg">
            <div class="item">
                {% for i in msg %}
                    <a href="/incoming/message?name={{i.id}}">
                        <div class="message-body">
                            <div class="circle-status" style="
                                {% if i.status.id == 1 or i.status.id == 4 %}
                                    background-color: #7D7D7D;
                                {% endif %}
                                {% if i.status.id == 2 %}
                                    background-color: #ECBA1C;
                                {% endif %}
                                {% if i.status.id == 3 %}
                                    background-color: #F53636;
                                {% endif %}
                                {% if i.status.id == 5 %}
                                    background-color: #008F32;
                                {% endif %}"></div>
                            <p class="item-message" {% if i.status.id == 6 %} style="color: #AFAFAF;" {% endif %}>
                                {{ i.status.title }}
                            </p>
                        </div>
                    </a>
                    <hr class="separator-msg">
                {% endfor %}
            </div>
        </div>
        <div class="column">
            <p class="table-title">Дата</p>
            <hr class="separator-msg">
            <div class="item">
                {% for i in msg %}
                    <a href="/incoming/message?name={{i.id}}">
                        <div class="message-body">
                            <p class="item-message" {% if i.status.id == 1 or i.status.id == 4 %} style="font-weight: 600;" {% endif %}>{{ i.date }}</p>
                        </div>
                    </a>
                    <hr class="separator-msg">
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../static/js/filter.js"></script>
{% endblock %}