{% extends 'base.html' %}

{% block title %}
<title>Авторизация</title>
{% endblock %}

{% block link %}
<link rel="stylesheet" href="../static/css/login.css">
{% endblock %}

{% block sidenav %}
{% endblock %}

{% block content %}
<div class="content">
    <div class="flex-login">
    <div class="login-content">
    <p class="auth">Авторизация</p>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                    {% for message in messages %}
                        <div class="flash"><p class="flash-title">{{ message }}</p></div>
                    {% endfor %}
            {% endif %}
        {% endwith %}
    <form class="form-login" method="post">
        <div class="box-login-input">
            <input type="email" placeholder="E-mail" class="login-input" name="email">
        </div>
        <div class="box-login-input">
            <input type="password" placeholder="Password" class="login-input" name="password">
        </div>
        <div class="checkbox">
            <p>Запомнить: </p>
            <input type="checkbox" class="input-check" name="remember">
        </div>

        <input type="submit" value="Войти" class="submit">
        <div class="registration">
           <a href="/forgot">Забыли пароль</a>
        </div>
    </form>
    </div>
    </div>
</div>
<script type="text/javascript" src="../static/js/main.js"></script>
{% endblock %}