{% extends 'base.html' %}

{% block title %}
<title>Восстановление пароля</title>
{% endblock %}

{% block link %}
<link rel="stylesheet" href="../static/css/login.css">
{% endblock %}

{% block sidenav %}
{% endblock %}

{% block content %}
<div class="content">
    <div class="flex-login">
    <div class="login-content">
    <h2 class="auth">Восстановление пароля</h2>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form class="form-login" method="post">
        <div class="password">
            <input type="password" placeholder="Введите пароль" name="password" class="passw-input" id="passw-input">
            <img src="../static/image/icons/ic-view-pass.svg" class="ic-view-pass" id="ic-view-pass">
        </div>
        <div class="password">
            <input type="password" placeholder="Повторите пароль" name="re-password" class="passw-input" id="re-passw-input">
            <img src="../static/image/icons/ic-view-pass.svg" class="ic-view-pass" id="ic-view-re-pass">
        </div>
        <input type="submit" value="Восстановить" class="submit">
    </form>
    </div>
    </div>
</div>
<script type="text/javascript" src="../static/js/main.js"></script>
{% endblock %}